<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{meta_description}}" />

        {{{alchemy-pageTitle @blog.title meta_title}}}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:400,400italic,700" />
        <link rel="stylesheet" href="{{asset "css/theme.min.css"}}" />
        <link rel="stylesheet" href="{{asset "css/post.min.css"}}" />

        {{{alchemy-syntaxHighlightingStyle}}}

        {{ghost_head}}

    </head>
    <body class="{{body_class}}">
        <div class="drawer-outer">
            <div class="drawer-inner">

                {{navigation}}

                <div class="blog-body">
                    {{{body}}}
                </div>

                 <footer class="blog-footer">

                    {{{alchemy-mailchimpForm}}}

                    {{{alchemy-poweredByFooter}}}

                </footer>

        {{ghost_foot}}

        {{{alchemy-syntaxHighlightingScript}}}

        <script src="{{asset "js/theme.min.js"}}"></script>
        <script>transformicons.add('.tcon')</script>
    </body>
</html>
