<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="title" content="{{meta_title}} | {{@blog.title}}" />
        <meta name="description" content="{{meta_description}}" />

        <title>{{meta_title}} | {{@blog.title}}</title>

        <link rel="stylesheet" href="{{asset "css/theme.css"}}" />
        <link rel="stylesheet" href="{{asset "css/post.css"}}" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:400,400italic,700' rel='stylesheet' type='text/css'>

        {{{alchemy-syntaxHighlightingStyle}}}

        {{ghost_head}}

    </head>
    <body class="{{body_class}}">

        {{{body}}}

        <footer class="blog-footer">

            {{{alchemy-poweredByFooter}}}

        </footer>

        {{{alchemy-syntaxHighlightingScript}}}

    </body>
</html>
